In [1]:
#Prep Data for Model

In [2]:
import pandas as pd
import numpy as np

## 1. Get Demand Data

In [3]:
revenue = pd.read_excel('Revenue.xlsx')

In [4]:
#Split Asia Pacific and Latin America into Separate Regions
apac_latam = revenue[revenue['Region'] == 'Asia Pacific & Latin America']
apac_gdp_perc = 0.733 #looked up online
latam_gdp_perc = 1 - apac_gdp_perc
apac_latam['Asia Pacific'] = apac_latam['Revenue ($M)'] * apac_gdp_perc
apac_latam['Latin America'] = apac_latam['Revenue ($M)'] * latam_gdp_perc
apac_latam = apac_latam.drop(columns = ['Region','Revenue ($M)'])
apac_latam = pd.melt(apac_latam, id_vars=['Year', 'Category'], var_name='Region', value_name='Revenue ($M)')

/var/folders/56/bfw_b7050wxcy69jmv2db0040000gn/T/ipykernel_53692/2130447476.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apac_latam['Asia Pacific'] = apac_latam['Revenue ($M)'] * apac_gdp_perc
/var/folders/56/bfw_b7050wxcy69jmv2db0040000gn/T/ipykernel_53692/2130447476.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apac_latam['Latin America'] = apac_latam['Revenue ($M)'] * latam_gdp_perc

In [5]:
#Merge Asia Pacific and Latin America back in
revenue = revenue[revenue['Region'] != 'Asia Pacific & Latin America']
revenue = pd.concat([revenue, apac_latam], ignore_index=True, axis=0)

In [6]:
rev_by_region = revenue.groupby(['Year', 'Region']).sum('Revenue ($M)')
rev_by_region = rev_by_region.reset_index()
rev_by_region = rev_by_region.rename(columns = {'Revenue ($M)': 'Yr_Region_Total'})

In [7]:
rev_by_year = revenue.groupby('Year').sum('Revenue ($M)')
rev_by_year = rev_by_year.reset_index()
rev_by_year = rev_by_year.rename(columns = {'Revenue ($M)': 'Yr_Total'})

In [8]:
revenue = revenue.merge(rev_by_region,
                        how = 'left',
                        on = ['Year', 'Region'])
revenue = revenue.merge(rev_by_year,
                        how = 'left',
                        on = 'Year')

In [9]:
revenue = revenue[revenue['Category'] == 'Footwear']
revenue['perc_rev_footware'] = revenue['Revenue ($M)']/revenue['Yr_Region_Total']
revenue['perc_rev_in_region'] = revenue['Yr_Region_Total']/revenue['Yr_Total']

In [10]:
avg_cost_shoes = 116.5 #based on nike website

In [11]:
revenue['shoes_made'] = revenue['Revenue ($M)'] * 1e6 / avg_cost_shoes
revenue['shoes_made'] = revenue['shoes_made'].round(decimals=0)

In [12]:
demand = revenue[['Year', 'Region', 'shoes_made']]

In [13]:
demand = demand.pivot(index='Region', columns='Year', values='shoes_made')

In [14]:
demand.to_csv('demand.csv')

In [15]:
#will need for workers
shoes_per_year  = demand.sum(axis = 0).to_list()
shoes_per_year.reverse()

## 2. Get Availability

### a. Read in Workers Data (2023)

In [16]:
workers = pd.read_excel('imap_export.xls', skiprows = 1)

In [17]:
workers = workers[workers['Product Type Type'] == 'Footwear']
wokers = workers[workers['Factory Type'] == 'FINISHED GOODS']

In [18]:
workers = workers[['Region', 'Total Workers']].groupby('Region').sum()

In [19]:
workers.head()

          Total Workers
Region
AMERICAS          16925
EMEA               2514
N ASIA            99736
S ASIA           264761
SE ASIA          348364

### b. Prep Rev Data to Estimate Workers Each Year

In [20]:
rev_by_year['priorYr'] = rev_by_year['Year']-1

In [21]:
rev_by_year = rev_by_year.merge(rev_by_year,
                                how = 'left',
                                left_on = 'priorYr',
                                right_on = 'Year')

In [22]:
rev_by_year = rev_by_year.drop(columns = ['priorYr_x', 'priorYr_y', 'Year_y'])
rev_by_year = rev_by_year.drop(0)
rev_by_year = rev_by_year.rename(columns = {'Year_x' : 'Year',
                                           'Yr_Total_x': 'Yr_Total',
                                           'Yr_Total_y' : 'Prior_Yr_Total'})

In [23]:
rev_by_year['growth'] = (rev_by_year['Yr_Total']- rev_by_year['Prior_Yr_Total'])/rev_by_year['Prior_Yr_Total']

In [24]:
rev_by_year = rev_by_year.sort_values('Year', ascending = False)

### c. Get Workers Each Year

In [25]:
workers_per_year = workers

In [26]:
for i in range(0, 7):
    year = rev_by_year['Year'].iloc[i] - 1
    col_year = 'yr_' + str(year)
    last_column_name = workers_per_year.columns[-1]
    growth = rev_by_year['growth'].iloc[i]
    workers_per_year[col_year] = workers_per_year[last_column_name] * (1.0 - growth) ** 0.5

In [27]:
workers_per_year = workers_per_year.rename(columns = {'Total Workers' : 'yr_2023'})

In [28]:
seed_value = 123
np.random.seed(seed_value)

In [29]:
shoe_cols = []
for i in range(1, workers_per_year.shape[1]):
    col = workers_per_year.columns[i]
    workers_per_year[col] = workers_per_year[col].astype(int)
    total_workers = workers_per_year[col].sum()
    workers_per_year[col + '_perc'] = workers_per_year[col] / total_workers
    workers_per_year[col + '_shoes'] = workers_per_year[col + '_perc'] * shoes_per_year[i-1]
    workers_per_year[col + '_shoes'] = (workers_per_year[col + '_shoes'] * (np.random.rand()/4)).astype(int)
    shoe_cols.append(col + '_shoes')

In [30]:
availability = workers_per_year[shoe_cols]
availability.to_csv('availability.csv')

## 3. Get Cost Data

### a. Cost of Sales

In [31]:
cost_of_sales = pd.read_excel('CostOfSales.xlsx')

In [32]:
cost_of_sales = cost_of_sales[['Year', 'Shoes - Cost of Sales ($M)']]
cost_of_sales = cost_of_sales.rename(columns = {'Shoes - Cost of Sales ($M)' : 'Cost_of_Sales_shoes_m'})

### b. Inventory Costs

In [33]:
inventory_cost = pd.read_excel('inventory_cost.xlsx')

In [34]:
#Split Asia Pacific and Latin America into Separate Regions
apac_latam = inventory_cost[inventory_cost['Region'] == 'Asia Pacific & Latin America']
apac_gdp_perc = 0.733 #looked up online
latam_gdp_perc = 1 - apac_gdp_perc
apac_latam['Asia Pacific'] = apac_latam['Inventory Costs'] * apac_gdp_perc
apac_latam['Latin America'] = apac_latam['Inventory Costs'] * latam_gdp_perc
apac_latam = apac_latam.drop(columns = ['Region','Inventory Costs'])
apac_latam = pd.melt(apac_latam, id_vars='Year', var_name='Region', value_name='Inventory Costs')
#re-join it
inventory_cost = inventory_cost[inventory_cost['Region'] != 'Asia Pacific & Latin America']
inventory_cost = pd.concat([inventory_cost, apac_latam], ignore_index=True, axis=0)

/var/folders/56/bfw_b7050wxcy69jmv2db0040000gn/T/ipykernel_53692/3194163411.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apac_latam['Asia Pacific'] = apac_latam['Inventory Costs'] * apac_gdp_perc
/var/folders/56/bfw_b7050wxcy69jmv2db0040000gn/T/ipykernel_53692/3194163411.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apac_latam['Latin America'] = apac_latam['Inventory Costs'] * latam_gdp_perc

### c. Get Costs

In [35]:
costs = inventory_cost.merge(cost_of_sales,
                             how = 'inner',
                             on = 'Year')

In [36]:
perc = revenue[['Year', 'Region', 'perc_rev_footware', 'perc_rev_in_region']]

In [37]:
costs = costs.merge(perc,
                    how = 'inner',
                    on = ['Year', 'Region'])

In [38]:
costs['cost_of_sales_shoes_region'] = costs['Cost_of_Sales_shoes_m'] * costs['perc_rev_footware'] * costs['perc_rev_in_region']
costs['inventory_costs_shoes'] = costs['Inventory Costs'] * costs['perc_rev_footware']

In [39]:
costs = costs.drop(columns = ['Inventory Costs', 
                              'Cost_of_Sales_shoes_m', 
                              'perc_rev_footware', 
                              'perc_rev_in_region'])

In [40]:
costs = costs.rename(columns = {'inventory_costs_shoes' : 'inventory_costs',
                               'cost_of_sales_shoes_region': 'cost_of_sales'})

In [41]:
regions = list(costs['Region'].unique())

In [42]:
region_holding_perc = []
for i in range(0, len(regions)):
    region_holding_perc.append(np.random.rand()/10 + 0.2)

In [43]:
holding_cost_perc = pd.DataFrame({'Region': regions, 'Hold_Cost_perc': region_holding_perc})

In [44]:
costs = costs.merge(holding_cost_perc,
                    how = 'inner',
                    on = 'Region')

In [45]:
costs['inventory_costs_holding'] = costs['inventory_costs'] * costs['Hold_Cost_perc']
costs['inventory_costs_goods'] = costs['inventory_costs'] * (1 - costs['Hold_Cost_perc'])

In [46]:
costs['shoes_in_inventory'] = costs['inventory_costs_goods'] * 1e6 / avg_cost_shoes

In [47]:
costs['holding_cost_per_shoe'] = costs['inventory_costs_holding'] * 1e6 / costs['shoes_in_inventory']
costs['holding_cost_per_shoe'] = costs['holding_cost_per_shoe'].round(decimals = 2)

In [48]:
costs

,Year,Region,cost_of_sales,inventory_costs,Hold_Cost_perc,inventory_costs_holding,inventory_costs_goods,shoes_in_inventory,holding_cost_per_shoe
0,2023,North America,6018.829833,2623.934746,0.268483,704.481804,1919.452942,1.647599e+07,42.76
1,2022,North America,4574.570406,2730.362557,0.268483,733.055859,1997.306698,1.714426e+07,42.76
2,2021,North America,4670.840666,1932.420048,0.268483,518.821881,1413.598167,1.213389e+07,42.76
3,2020,North America,3642.964544,1981.865023,0.268483,532.097015,1449.768008,1.244436e+07,42.76
4,2019,North America,3810.237802,1470.554647,0.268483,394.818885,1075.735762,9.233783e+06,42.76
5,2018,North America,3586.338815,1424.499495,0.268483,382.453861,1042.045634,8.944598e+06,42.76
6,2017,North America,3757.813578,1411.613565,0.268483,378.994208,1032.619357,8.863685e+06,42.76
7,2016,North America,3472.257512,1396.991466,0.268483,375.068423,1021.923043,8.771872e+06,42.76
8,2023,"Europe, Middle East, and Africa",3337.284985,1333.985691,0.248093,330.952766,1003.032925,8.609725e+06,38.44
9,2022,"Europe, Middle East, and Africa",2763.896480,1117.169324,0.248093,277.162102,840.007223,7.210362e+06,38.44
10,2021,"Europe, Middle East, and Africa",2795.925751,597.463338,0.248093,148.226586,449.236752,3.856109e+06,38.44
11,2020,"Europe, Middle East, and Africa",2300.819712,1304.850754,0.248093,323.724586,981.126168,8.421684e+06,38.44
12,2019,"Europe, Middle East, and Africa",2387.040964,891.486955,0.248093,221.171843,670.315112,5.753778e+06,38.44
13,2018,"Europe, Middle East, and Africa",2260.216750,910.936486,0.248093,225.997139,684.939347,5.879308e+06,38.44
14,2017,"Europe, Middle East, and Africa",2014.722026,864.464743,0.248093,214.467816,649.996927,5.579373e+06,38.44
15,2016,"Europe, Middle East, and Africa",1883.062118,884.257532,0.248093,219.378272,664.879260,5.707118e+06,38.44
16,2023,Greater China,2195.901198,729.615756,0.239212,174.532663,555.083093,4.764662e+06,36.63
17,2022,Greater China,2026.159087,749.212137,0.239212,179.220348,569.991789,4.892633e+06,36.63
18,2021,Greater China,2305.736186,864.626779,0.239212,206.828887,657.797893,5.646334e+06,36.63
19,2020,Greater China,1809.962553,612.078155,0.239212,146.416288,465.661868,3.997098e+06,36.63
20,2019,Greater China,1616.648433,475.767719,0.239212,113.809230,361.958490,3.106940e+06,36.63
21,2018,Greater China,1344.973235,467.813011,0.239212,111.906370,355.906641,3.054993e+06,36.63
22,2017,Greater China,1133.087118,319.084258,0.239212,76.328704,242.755553,2.083739e+06,36.63
23,2016,Greater China,970.469650,317.922589,0.239212,76.050819,241.871770,2.076153e+06,36.63
24,2023,Asia Pacific,1345.426442,462.919761,0.234318,108.470341,354.449421,3.042484e+06,35.65
25,2022,Asia Pacific,1127.317730,347.131321,0.234318,81.339048,265.792273,2.281479e+06,35.65
26,2021,Asia Pacific,1075.868619,334.816648,0.234318,78.453501,256.363147,2.200542e+06,35.65
27,2020,Asia Pacific,987.226990,387.161911,0.234318,90.718928,296.442983,2.544575e+06,35.65
28,2019,Asia Pacific,1007.058179,350.688741,0.234318,82.172615,268.516126,2.304859e+06,35.65
29,2018,Asia Pacific,1008.143232,348.483609,0.234318,81.655913,266.827696,2.290366e+06,35.65
30,2017,Asia Pacific,934.371965,352.773078,0.234318,82.661012,270.112066,2.318559e+06,35.65
31,2016,Asia Pacific,801.949966,345.262187,0.234318,80.901077,264.361110,2.269194e+06,35.65
32,2023,Latin America,490.080300,168.621523,0.272905,46.017652,122.603871,1.052394e+06,43.73
33,2022,Latin America,410.632788,126.444833,0.272905,34.507424,91.937410,7.891623e+05,43.73
34,2021,Latin America,391.892116,121.959134,0.272905,33.283254,88.675880,7.611664e+05,43.73
35,2020,Latin America,359.603829,141.026235,0.272905,38.486761,102.539475,8.801672e+05,43.73
36,2019,Latin America,366.827468,127.740646,0.272905,34.861057,92.879589,7.972497e+05,43.73
37,2018,Latin America,367.222705,126.937413,0.272905,34.641851,92.295562,7.922366e+05,43.73
38,2017,Latin America,340.351043,128.499880,0.272905,35.068256,93.431624,8.019882e+05,43.73
39,2016,Latin America,292.115472,125.763989,0.272905,34.321618,91.442371,7.849131e+05,43.73

In [49]:
inventory_holding_cost = costs[['Region', 'holding_cost_per_shoe']].drop_duplicates()

In [50]:
inventory_holding_cost.to_csv('inventory_holding_cost.csv')