In [1]:
import pandas as pd
import numpy as np

# Find representative producer countries

In [2]:
df = pd.read_excel('imap_export.xls', header=1)
df

,Factory Name,Factory Type,Product Type Type,"Nike, Inc. Brand(s)",Events,Supplier Group,Address,City,State,Postal Code,Country / Region,Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers
0,"A & K Designs, Inc.",FINISHED GOODS,Apparel,Nike,NaN,A & K DESIGNS,8564 NE Alderwood Road,Portland,Oregon,97220,USA,AMERICAS,111,95,73,0
1,"ACode Sporting Goods Co., Ltd.",FINISHED GOODS,Equipment,Nike,NaN,EXCELLENCE SPORTING GOODS,No 32 VSIP II A Street 31,Bac Tan Uyen,Bình Duong,822710,Vietnam,SE ASIA,347,318,79,0
2,Ad Dulyal,FINISHED GOODS,Apparel,Nike,NaN,MAS HOLDINGS,Part of land no 1075 Basin 5 Ad Dulayl,Zarqa,Az Zarqa,11183,Jordan,EMEA,1303,1166,87,75
3,ADORA FOOTWEAR LIMITED,FINISHED GOODS,Footwear,Converse,NaN,HUALI,TAM DIEP INDUSTRY ZONE,Ninh Binh Province,Ninh Bình,430000,Vietnam,SE ASIA,8120,6800,86,0
4,"AHP APPAREL PVT LTD., UNIT 60",FINISHED GOODS,Apparel,Nike,Collegiate,SHAHI,207 ABDE F KIADB INDUSTRIAL AREA,HASSAN,Karnataka,573201,India,S ASIA,2704,906,75,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,LELABPLUS,FINISHED GOODS,Apparel,Nike,NaN,LELAB,1 bis rue Jean le Galleu,Ivry sur Seine,Île-de-France,94200,France,EMEA,21,14,62,100
639,"Haivina Co., Ltd.",FINISHED GOODS,Equipment,Nike,NaN,HAIVINA,Lang Xuyen village,Hai Duong province,Hi Duong,170000,Vietnam,SE ASIA,3259,2870,96,0
640,Tower Garments (London) Ltd,FINISHED GOODS,Apparel,Nike,NaN,TOWER GARMENTS,Unit J 17 Queensway Enfield,ENFIELD,London-- City of,EN3 4SA,United Kingdom,EMEA,90,90,60,0
641,"QINGDAO HONGTAISHENGDA TRADE CO., LTD.",FINISHED GOODS - COMPONENTS,Footwear,Nike,NaN,"QINGDAO HONGTAISHENGDA TRADE CO., LTD.",Beijingxi Road 41,Qingdao,Shandong,266300,China,N ASIA,100,80,90,0
642,Cygnus Investments S.A. de C.V.,FINISHED GOODS,Apparel,Nike,Collegiate,CYGNUS,Zona Franca Miramar Km 30 y medio,Olocuilta,La Paz,01608,El Salvador,AMERICAS,205,170,50,0

In [3]:
workers_per_country = df.groupby(['Region', 'Country / Region']).sum()['Total Workers'].reset_index().sort_values(['Region', 'Total Workers'], ascending=False)
workers_per_country

      Region Country / Region  Total Workers
37   SE ASIA          Vietnam         509169
35   SE ASIA         Cambodia          56673
36   SE ASIA         Thailand          26432
31    S ASIA        Indonesia         279988
33    S ASIA         Pakistan          44785
30    S ASIA            India          43407
34    S ASIA        Sri Lanka          38311
32    S ASIA         Malaysia           7508
25    N ASIA            China         143361
29    N ASIA           Taiwan          12714
28    N ASIA      South Korea           3309
27    N ASIA      Philippines           2446
26    N ASIA            Japan           2063
12      EMEA            Egypt          12462
17      EMEA           Jordan           7229
23      EMEA           Turkey           6545
14      EMEA          Georgia           4570
9       EMEA           Bosnia           1998
16      EMEA            Italy           1606
19      EMEA          Moldova           1148
10      EMEA         Bulgaria            451
18      EMEA        Lithuania            324
21      EMEA     South Africa            221
15      EMEA           Israel            205
24      EMEA   United Kingdom             90
11      EMEA          Croatia             51
20      EMEA      Netherlands             31
13      EMEA           France             21
22      EMEA            Spain             16
1   AMERICAS           Brazil          21376
3   AMERICAS      El Salvador           7096
6   AMERICAS           Mexico           5169
7   AMERICAS        Nicaragua           4634
4   AMERICAS        Guatemala           4236
5   AMERICAS         Honduras           4128
8   AMERICAS              USA           3518
0   AMERICAS        Argentina           1457
2   AMERICAS           Canada            255

In [4]:
# Representative producer countries for each region
top_countries = workers_per_country.groupby('Region').head(1)
top_countries

      Region Country / Region  Total Workers
37   SE ASIA          Vietnam         509169
31    S ASIA        Indonesia         279988
25    N ASIA            China         143361
12      EMEA            Egypt          12462
1   AMERICAS           Brazil          21376

# Find representative consumer countries for each region
- For top countries by consumption, we choose countries by GDP (https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal), sorted by forecast).
    - AMERICAS - US, N ASIA - China, EMEA - Germany, S ASIA - India, SE Asia - Japan.
- Ports for reference: largest port in the country (UN/LOCODE)
    - US: Port of Los Angeles (USLAX)
    - China: Port of Shanghai (CNSGH / CNSHA)
    - Germany: Hamburg Port (DEHAM)
    - India: Mundra (INMUN)
    - Japan: Tokyo (JPTYO)
    - Vietnam: Hai Phong (VNSIT)
    - Indonesia: Tanjung Priok (IDTPR / IDTPP)
    - Egypt: Port Said (EGPSD)
    - Brazil: Santos (BRSSZ)

# Estimating shipping cost from producer region to consumer region
- We use the Drewry World Container Index (https://en.macromicro.me/collections/4356/freight/44756/drewry-world-container-index) to get the overall trend of shipping cost.
- Drewry tracks the freight costs of 40-foot container via eight major routes, including spot rates and short-term contract rates.
- We take the cost in the first week of July, which is a good proxy for the average cost. 
- Because CMA-CGM and Freightos shipping costs are not always available between countries, we take a distance metric instead (https://www.geodatos.net/en/distances/countries).
- We see that the Drewry World Container Index is very similar to the Drewry World Container Index - Shanghai to LA, and so we use that as a basis.
- I checked the cost from Shanghai to LA on Freightos for a forty-foot and the cost is (exepctedly) very similar, so we can use the index directly.

In [5]:
years = np.arange(2014, 2024)
# Get Drewry World Container Index cost
global_shipping_costs = pd.DataFrame(
    {'year': years, # 10 years, 2014-2023
     'global_shipping_cost': [2053.72, 1583.27, 1427.14, 1549.72, 1468.18, 1372.11, 2031.57, 8399.09, 7050.94, 1474.32]})
global_shipping_costs

   year  global_shipping_cost
0  2014               2053.72
1  2015               1583.27
2  2016               1427.14
3  2017               1549.72
4  2018               1468.18
5  2019               1372.11
6  2020               2031.57
7  2021               8399.09
8  2022               7050.94
9  2023               1474.32

In [6]:
# Get distances (km)
data = {
    # ['SE ASIA (Vietnam)', 'S ASIA (Indonesia)', 'N ASIA (China)', 'EMEA (Egypt)', 'AMERICAS (Brazil)']
    'SE ASIA (Japan)': [3864, 4808, 3054, 9704, 17371],
    'S ASIA (India)': [3194, 4483, 2984, 4931, 14787],
    'N ASIA (China)': [2450, 4181, 0, 6896, 16638],
    'EMEA (Germany)': [9339, 11014, 7242, 3203, 9417],
    'AMERICAS (US)': [13814, 14972, 11671, 10997, 7301]
}

# Rows (representative producer country)
rows = ['SE ASIA (Vietnam)', 'S ASIA (Indonesia)', 'N ASIA (China)', 'EMEA (Egypt)', 'AMERICAS (Brazil)']

# Create df
distances = pd.DataFrame(data, index=rows)
distances

,SE ASIA (Japan),S ASIA (India),N ASIA (China),EMEA (Germany),AMERICAS (US)
SE ASIA (Vietnam),3864,3194,2450,9339,13814
S ASIA (Indonesia),4808,4483,4181,11014,14972
N ASIA (China),3054,2984,0,7242,11671
EMEA (Egypt),9704,4931,6896,3203,10997
AMERICAS (Brazil),17371,14787,16638,9417,7301

In [7]:
# Normalize distances such that the distance from China to US is 1
shipping_costs = distances / 11671
shipping_costs = shipping_costs.reset_index().melt(id_vars=['index'], var_name='Column', value_name='Value')
shipping_costs = shipping_costs.rename(columns={'index':'producer_region', 'Column':'consumer_region', 'Value':'distance'})
shipping_costs

       producer_region  consumer_region  distance
0    SE ASIA (Vietnam)  SE ASIA (Japan)  0.331077
1   S ASIA (Indonesia)  SE ASIA (Japan)  0.411961
2       N ASIA (China)  SE ASIA (Japan)  0.261674
3         EMEA (Egypt)  SE ASIA (Japan)  0.831463
4    AMERICAS (Brazil)  SE ASIA (Japan)  1.488390
5    SE ASIA (Vietnam)   S ASIA (India)  0.273670
6   S ASIA (Indonesia)   S ASIA (India)  0.384114
7       N ASIA (China)   S ASIA (India)  0.255676
8         EMEA (Egypt)   S ASIA (India)  0.422500
9    AMERICAS (Brazil)   S ASIA (India)  1.266987
10   SE ASIA (Vietnam)   N ASIA (China)  0.209922
11  S ASIA (Indonesia)   N ASIA (China)  0.358238
12      N ASIA (China)   N ASIA (China)  0.000000
13        EMEA (Egypt)   N ASIA (China)  0.590866
14   AMERICAS (Brazil)   N ASIA (China)  1.425585
15   SE ASIA (Vietnam)   EMEA (Germany)  0.800189
16  S ASIA (Indonesia)   EMEA (Germany)  0.943707
17      N ASIA (China)   EMEA (Germany)  0.620512
18        EMEA (Egypt)   EMEA (Germany)  0.274441
19   AMERICAS (Brazil)   EMEA (Germany)  0.806872
20   SE ASIA (Vietnam)    AMERICAS (US)  1.183618
21  S ASIA (Indonesia)    AMERICAS (US)  1.282838
22      N ASIA (China)    AMERICAS (US)  1.000000
23        EMEA (Egypt)    AMERICAS (US)  0.942250
24   AMERICAS (Brazil)    AMERICAS (US)  0.625568

In [8]:
# Estimate number of items that can fit in a 40-foot (40') container
# A Nike shoe box measures 14 x 7.5 x 5 inches (14" x 7.5" x 7") (https://www.kusashoes.com/how-big-is-a-nike-shoe-box/)
# Using this calculator (https://www.gigacalculator.com/calculators/container-loading-calculator.php), 
# we get an estimate of 5,148 shoe boxes per container.
quantity_per_container = 5148

In [9]:
# Multiply by global_shipping_cost to get the total shipping cost (for each year)
# Then divide by 5,148 to get the shipping cost per item (for each year)
for i, year in enumerate(years):
    shipping_costs[f'shipping_cost_{str(year)}'] = shipping_costs['distance'] * global_shipping_costs.iloc[i,1] / quantity_per_container
shipping_costs

,producer_region,consumer_region,distance,shipping_cost_2014,shipping_cost_2015,shipping_cost_2016,shipping_cost_2017,shipping_cost_2018,shipping_cost_2019,shipping_cost_2020,shipping_cost_2021,shipping_cost_2022,shipping_cost_2023
0,SE ASIA (Vietnam),SE ASIA (Japan),0.331077,0.132078,0.101823,0.091782,0.099665,0.094421,0.088243,0.130654,0.540160,0.453458,0.094816
1,S ASIA (Indonesia),SE ASIA (Japan),0.411961,0.164346,0.126699,0.114205,0.124014,0.117489,0.109801,0.162573,0.672125,0.564241,0.117980
2,N ASIA (China),SE ASIA (Japan),0.261674,0.104391,0.080478,0.072542,0.078773,0.074628,0.069745,0.103265,0.426928,0.358401,0.074940
3,EMEA (Egypt),SE ASIA (Japan),0.831463,0.331700,0.255717,0.230500,0.250298,0.237128,0.221612,0.328122,1.356552,1.138810,0.238120
4,AMERICAS (Brazil),SE ASIA (Japan),1.488390,0.593772,0.457755,0.412615,0.448055,0.424480,0.396705,0.587368,2.428345,2.038568,0.426255
5,SE ASIA (Vietnam),S ASIA (India),0.273670,0.109177,0.084167,0.075867,0.082384,0.078049,0.072942,0.107999,0.446499,0.374831,0.078375
6,S ASIA (Indonesia),S ASIA (India),0.384114,0.153237,0.118135,0.106485,0.115631,0.109547,0.102379,0.151584,0.626692,0.526101,0.110005
7,N ASIA (China),S ASIA (India),0.255676,0.101998,0.078633,0.070879,0.076967,0.072917,0.068146,0.100898,0.417143,0.350186,0.073222
8,EMEA (Egypt),S ASIA (India),0.422500,0.168550,0.129940,0.117126,0.127187,0.120495,0.112610,0.166732,0.689320,0.578676,0.120999
9,AMERICAS (Brazil),S ASIA (India),1.266987,0.505446,0.389662,0.351237,0.381405,0.361337,0.337693,0.499995,2.067120,1.735324,0.362848
10,SE ASIA (Vietnam),N ASIA (China),0.209922,0.083745,0.064562,0.058195,0.063194,0.059869,0.055951,0.082842,0.342493,0.287519,0.060119
11,S ASIA (Indonesia),N ASIA (China),0.358238,0.142914,0.110176,0.099312,0.107842,0.102168,0.095482,0.141373,0.584475,0.490660,0.102595
12,N ASIA (China),N ASIA (China),0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,EMEA (Egypt),N ASIA (China),0.590866,0.235718,0.181721,0.163801,0.177870,0.168512,0.157485,0.233175,0.964013,0.809278,0.169216
14,AMERICAS (Brazil),N ASIA (China),1.425585,0.568716,0.438439,0.395204,0.429149,0.406569,0.379965,0.562583,2.325877,1.952547,0.408269
15,SE ASIA (Vietnam),EMEA (Germany),0.800189,0.319224,0.246098,0.221830,0.240883,0.228209,0.213276,0.315781,1.305527,1.095975,0.229164
16,S ASIA (Indonesia),EMEA (Germany),0.943707,0.376478,0.290237,0.261616,0.284087,0.269140,0.251529,0.372418,1.539681,1.292544,0.270265
17,N ASIA (China),EMEA (Germany),0.620512,0.247544,0.190839,0.172020,0.186795,0.176967,0.165387,0.244875,1.012381,0.849883,0.177707
18,EMEA (Egypt),EMEA (Germany),0.274441,0.109484,0.084404,0.076081,0.082616,0.078269,0.073147,0.108303,0.447757,0.375887,0.078596
19,AMERICAS (Brazil),EMEA (Germany),0.806872,0.321890,0.248154,0.223683,0.242895,0.230115,0.215058,0.318418,1.316431,1.105129,0.231078
20,SE ASIA (Vietnam),AMERICAS (US),1.183618,0.472187,0.364022,0.328125,0.356308,0.337561,0.315473,0.467094,1.931101,1.621138,0.338973
21,S ASIA (Indonesia),AMERICAS (US),1.282838,0.511770,0.394537,0.355631,0.386177,0.365858,0.341918,0.506250,2.092982,1.757034,0.367388
22,N ASIA (China),AMERICAS (US),1.000000,0.398936,0.307551,0.277222,0.301033,0.285194,0.266533,0.394633,1.631525,1.369646,0.286387
23,EMEA (Egypt),AMERICAS (US),0.942250,0.375897,0.289789,0.261213,0.283649,0.268724,0.251140,0.371843,1.537304,1.290549,0.269848
24,AMERICAS (Brazil),AMERICAS (US),0.625568,0.249561,0.192394,0.173421,0.188317,0.178408,0.166734,0.246870,1.020629,0.856807,0.179154

### Comments
The shipping cost is typically $0.10-$0.50 per pair of shoes, but spiked to $0.50-$2 during Covid-19 (2021-2022). Looks reasonable.

In [10]:
# Save as csv file
shipping_costs.to_csv('shipping_costs.csv', index=False)